<%- include('components/top') %>

<div class="cart-container">
    <div class="cart-elements"></div>

    <div class="summary">
                    <div class="summary-header">Итого</div>
                    <div class="summary-info">
                        <p class="summary-prod">Товары</p>
                        <p class="summary-price">0₽</p>
                    </div>
                    <button class="summary-buy">Купить всё</button>
                </div>
</div>


<%- include('components/bottom') %>