<%- include('components/top') %>
    


    <h2>Заголовок</h2>
    <p>Контент страницы</p>


<% for (let i=0; i<10; i++){ %>
    <p style="color: red">ТЕКСТ ИЗ ЦИКЛА</p>
<% } %>



<%- include('components/bottom') %>