
.cart-container{
    display: flex; 
    gap: 2rem;
    flex-direction: column;
}

.cart-elements{ display: grid;padding: 2rem;
     width: 100%;
    background: rgba(255,255,255,.5);
border-radius: 2rem;}

.cart-el{
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 2rem;
    width: 100%;
    background: rgba(163,0,163,.05);
}

.cart-el-top{
    display: flex;
    gap: 2rem;
    height: 250px;
}



.cart-el-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cart-el-img{
    display: inline-block;
    aspect-ratio: 3/4;
    object-fit: contain;
    border-radius: 2rem;
}
.cart-el-btns{
    display: flex;
    justify-content: space-between;
   
}

.cart-el-btns button{
    padding: 1rem 1.618rem;
    border-radius: 10rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.cart-el-delete{
    border: 1px solid hsl(0, 100%, 50%);
    color: hsl(0, 100%, 35%);
    background: transparent;
    transition: background-color .15s ease, color .15s ease;
    &:hover{
        background-color: hsl(0, 100%, 50%);
        color: hsl(0,100%,100%);
    }
    &:active {
        background-color: hsl(0, 100%, 35%);
    }
}

.cart-el-buy{
    border: none;
    color: hsl(120,100%,100%);
    background-color: hsl(120,100%,35%);
    transition: background-color .15s ease;
    &:hover{
        background-color: hsl(120, 100%, 40%);
        
    }
    &:active {
        background-color: hsl(120, 100%, 30%);
    }
}

.cart-el-price{
    font-size: 2rem;
    font-weight: bold;
    color: hsl(310,100%,23%);
}

.cart-el-title{
    font-size: 1.2rem;
    
}
.summary{
    width: 100%;
    padding: 2rem;
    border-radius:2rem ;
    background-color: rgba(255,255,255,.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.summary-header{
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
}

.summary-info{
    display: flex;
    justify-content: space-between;
}

.summary-info{
    display: flex;
    justify-content: space-between;
}

.summary-prod{
    font-size: 1.3rem;
}
.summary-buy{
     border: none;
    color: hsl(120,100%,100%);
    background-color: hsl(120,100%,35%);
    padding: 1rem 1.618rem;
    width: 100%;
    border-radius: 10rem;
    font-size: 1.1rem;
    transition: background-color .15s ease;
    &:hover{
        background-color: hsl(120, 100%, 40%);
        
    }
    &:active {
        background-color: hsl(120, 100%, 30%);
    }
}

@media(min-width: 992px){
    .cart-container{
        flex-direction: row;
    }
    .summary{
        width: 40%;
    }
}