.products{

    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card{
    width: 40vw;
    background: linear-gradient(hsl(300,50%,85%),
    hsl(300,50%,90%));
    padding: 2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: transform .15s ease, box-shadow .15s ease;
    &:hover{
        transform: translateY(-2px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    }
}

.card img{
    display: block;
    width: 100%;
   margin-bottom: 2rem;
   aspect-ratio: 3/4;
   object-fit: contain;
   border-radius: 1rem;
}
.card-elements{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1.8fr .2fr;
    row-gap: 2rem;
}
.card-title{
    grid-column: 1;
    font-size: 1.5rem;
    color: #646;
}
.card-price{
    grid-row: 2;
    font-size: 2rem;
    font-weight: bold;
    color: hsl(310,100%,25%);
}

.card-add{
    grid-column: 2;
    grid-row: 2;
    border: none;
    background-color: #20f95a;
    font-size: 1.5rem;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
    aspect-ratio: 1/1;
    width: 50px;

    &:hover{
        background-color: #19b542;
    }
    &:active{
         background-color: #85e59f;
    }
}
@media (min-width: 950px){
    .card{
        width: 30vw;
    }
}

@media (min-width:1150px){
.card{
    width: 25vw;
}
}
@media (min-width:1400px){
.card{
    width: 20vw;
}
}